@charset "UTF-8";



#rodape{
    position: relative;
    z-index: 1;
    margin-top: 3.1em;
    padding: 8px 0 8px 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #005066;
    color: white;
    text-align: center;
    border-radius: 5px;
    clear:both;
}