@charset "UTF-8";

#opcoes{
    display: block;
    text-align: center;
}

ul{
    text-align: center; 
}

li:hover{
    color:#9d9d9d;
}


.navbar .navbar-nav {
  display: block;
  float: none;
  vertical-align: top;
  border-radius: 2px;
}

.navbar .navbar-collapse {
  text-align: center;
}